@font-face {
    font-family: "Owners";
    font-style: normal;
    font-weight: 200;
    src: url(../assets/fonts/Owners-Light.otf) format("opentype");
}
@font-face {
    font-family: "Owners";
    font-style: italic;
    font-weight: 200;
    src: url(../assets/fonts/Owners-LightItalic.otf) format("opentype");
}
@font-face {
    font-family: "Owners";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Owners-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Owners";
    font-style: italic;
    font-weight: 400;
    src: url(../assets/fonts/Owners-RegularItalic.otf) format("opentype");
}
@font-face {
    font-family: "Owners";
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/Owners-Medium.otf) format("opentype");
}
@font-face {
    font-family: "Owners";
    font-style: italic;
    font-weight: 500;
    src: url(../assets/fonts/Owners-MediumItalic.otf) format("opentype");
}
@font-face {
    font-family: "Owners";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/Owners-Bold.otf) format("opentype");
}
@font-face {
    font-family: "Owners";
    font-style: italic;
    font-weight: 700;
    src: url(../assets/fonts/Owners-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: "Owners Narrow";
    font-style: normal;
    font-weight: 200;
    src: url(../assets/fonts/OwnersNarrow-Light-.otf) format("opentype");
}
@font-face {
    font-family: "Owners Narrow";
    font-style: italic;
    font-weight: 200;
    src: url(../assets/fonts/OwnersNarrow-LightItalic-cc4.otf) format("opentype");
}
@font-face {
    font-family: "Owners Narrow";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/OwnersNarrow-Regular-aa.otf) format("opentype");
}
@font-face {
    font-family: "Owners Narrow";
    font-style: italic;
    font-weight: 400;
    src: url(../assets/fonts/OwnersNarrow-RegularItalic-ddb.otf) format("opentype");
}
@font-face {
    font-family: "Owners Narrow";
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/OwnersNarrow-Medium-efe.otf) format("opentype");
}
@font-face {
    font-family: "Owners Narrow";
    font-style: italic;
    font-weight: 500;
    src: url(../assets/fonts/OwnersNarrow-MediumItalic-e.otf) format("opentype");
}
@font-face {
    font-family: "Owners Narrow";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/OwnersNarrow-Bold-a5.otf) format("opentype");
}
@font-face {
    font-family: "Owners Narrow";
    font-style: italic;
    font-weight: 700;
    src: url(../assets/fonts/OwnersNarrow-BoldItalic-0e.otf) format("opentype");
}

@font-face {
    font-family: "Owners Wide";
    font-style: normal;
    font-weight: 200;
    src: url(../assets/fonts/OwnersWide-Light-d.otf) format("opentype");
}
@font-face {
    font-family: "Owners Wide";
    font-style: italic;
    font-weight: 200;
    src: url(../assets/fonts/OwnersWide-LightItalic-b.otf) format("opentype");
}
@font-face {
    font-family: "Owners Wide";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/OwnersWide-Regular-a.otf) format("opentype");
}
@font-face {
    font-family: "Owners Wide";
    font-style: italic;
    font-weight: 400;
    src: url(../assets/fonts/OwnersWide-RegularItalic-5.otf) format("opentype");
}
@font-face {
    font-family: "Owners Wide";
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/OwnersWide-Medium-e5aa.otf) format("opentype");
}
@font-face {
    font-family: "Owners Wide";
    font-style: italic;
    font-weight: 500;
    src: url(../assets/fonts/OwnersWide-MediumItalic-dbf.otf) format("opentype");
}
@font-face {
    font-family: "Owners Wide";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/OwnersWide-Bold-bf.otf) format("opentype");
}
@font-face {
    font-family: "Owners Wide";
    font-style: italic;
    font-weight: 700;
    src: url(../assets/fonts/OwnersWide-BoldItalic-cf.otf) format("opentype");
}

@font-face {
    font-family: "Owners ExtraWide";
    font-style: normal;
    font-weight: 200;
    src: url(../assets/fonts/OwnersXXWide-Light-f4.otf) format("opentype");
}
@font-face {
    font-family: "Owners ExtraWide";
    font-style: italic;
    font-weight: 200;
    src: url(../assets/fonts/OwnersXXWide-LightItalic-f2f.otf) format("opentype");
}
@font-face {
    font-family: "Owners ExtraWide";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/OwnersXXWide-Regular-d.otf) format("opentype");
}
@font-face {
    font-family: "Owners ExtraWide";
    font-style: italic;
    font-weight: 400;
    src: url(../assets/fonts/OwnersXXWide-RegularItalic-af1.otf) format("opentype");
}
@font-face {
    font-family: "Owners ExtraWide";
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/OwnersXXWide-Medium-f3e.otf) format("opentype");
}
@font-face {
    font-family: "Owners ExtraWide";
    font-style: italic;
    font-weight: 500;
    src: url(../assets/fonts/OwnersXXWide-MediumItalic-ae.otf) format("opentype");
}
@font-face {
    font-family: "Owners ExtraWide";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/OwnersXXWide-Bold-be.otf) format("opentype");
}
@font-face {
    font-family: "Owners ExtraWide";
    font-style: italic;
    font-weight: 700;
    src: url(../assets/fonts/OwnersXXWide-BoldItalic-c.otf) format("opentype");
}